$color-ocean-blue: #00a996;
$light-grey: #ccc;
$comfy-blue: #77B1C6;

$slate: #587272;
$dark-slate: darken($slate, 15%);
$very-light-slate: lighten($slate, 50%);

$heavier-blue: darken($comfy-blue, 30%);
$success-green: #5cb85c;
$slate-green: #a3bfb4;

$warn-orange: #e59400;
