.lists-container {
  > p {
    color: $very-light-slate;
  }
}

.list-wrapper {
  background-color: $very-light-slate;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 4px;
  margin: .8em;
  padding: 0;

  > h4 {
    margin: 0;
    padding: .2em .4em;
    background-color: $dark-slate;
    color: white;
    border-radius: 4px 4px 0 0;

    > div.btn-group > button.btn {
      margin: 0;
    }

    > small > a {
      color: white;
    }
  }

  .list-item-list-actions {
    padding: 1em;
  }

  .list-item-list {
    margin: 0;
    padding: .8em 0 0 0;

    > div.list-item {
      padding: 0 .8em;
      height: 1.7em;
      font-size: 1.7em;
      border-bottom: 1px solid darken($very-light-slate, 10%);

      &:last-child {
        border: none;
      }

      &.complete {
        color: darken($success-green, 10%);

        > div.list-item-actions > a.reset {
          color: $success-green;
        }
      }

      > div.list-item-actions {
        margin: 0;
        padding: 0;
        height: 100%;

        > a {
          display: inline-block;
          color: $slate-green;
          font-size: 1.2em;
          height: 100%;

          > div.list-item-action {
            min-width: 1.4em;
            height: 100%;
            padding-top: .1em;
            text-align: center;
          }

          &.complete :hover {
            color: $success-green;
            opacity: .75;
          }

          &.delete :hover {
            color: $warn-orange;
          }

          &.reset :hover {
            color: $slate-green;
          }
        }
      }

      &:hover {
        background-color: darken($very-light-slate, 5%);
      }
    }
  }
}

#new-list-form {
  background-color: $dark-slate;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 1em;
  border-radius: 4px;
  display: inline-block;
  margin-left: .8em;
  max-width: 28em;
}

#list-title-form,
#new-list-item-form {
  display: inline-block;
  max-width: 16em;
}

.completion {
  z-index: 1;
  height: .5em;
  background-color: $slate-green;
  border-radius: 4px;
}

@for $i from 0 through 100 {
  .compl-#{$i} {
    width: percentage($i/100);
  }
}

#workspace-list {
  background-color: $very-light-slate;
  border-radius: 4px;
  padding: .4em;
  margin-bottom: 1em;
  > a {
    text-decoration: none;

    > div {
      cursor: pointer;
      color: $dark-slate;
      padding: 1em;
      margin: .2em;
      border-radius: 4px;
      display: inline-block;

      &.current {
        cursor: default;
        background-color: $dark-slate;
        color: white;
      }

      &:hover:not(.current) {
        background-color: darken($very-light-slate, 10%);
      }
    }
  }

  #new-workspace {
    display: inline-block;
    border-radius: 4px;
    padding: .6em 1em;
    margin: .2em;
    background-color: darken($very-light-slate, 20%);
    color: white;
    cursor: pointer;

    &:hover {
      background-color: $slate;
    }
  }

  #no-workspaces {
    display: inline-block;
    color: slate;
  }
}
