.list-container {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 4px;
  margin: .8em;
  padding: .8em 0 0 0;

  > h4 {
    margin: 0 .8em;

    > div.btn-group > button.btn {
      margin: 0;
    }
  }

  .list-content {
    margin: 0;
    padding: 0 .8em .8em .8em;
  }

}

#new-list-form {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 1em;
  border-radius: 4px;
  display: inline-block;
  margin-left: .8em;
  max-width: 28em;
}

#list-title-form,
#new-list-item-form {
  display: inline-block;
  max-width: 16em;
}

.completion {
  z-index: 1;
  height: .5em;
  background-color: $light-green;
  border-radius: 4px;
}

@for $i from 0 through 100 {
  .compl-#{$i} {
    width: percentage($i/100);
  }
}
